{% load static %}

<html>
<head>
  <link rel="stylesheet", href="{% static 'website/style_login.css' %}"></link>
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <title>log in</title>
</head>

<body>
  <div class="main">
    <p class="sign" align="center"> ورود</p>
    <form class="form1" method="POST" action="{% url 'logIn' %}">

      {% csrf_token %}

      <ul align="center">
      <li>{{ form.username }}</li>
      <li>{{ form.password }}</li>
      </ul>
      <button class="submit" type="submit">ورود</button>
      <p class="signup" align="center"><a href="{% url 'signUp' %}">صفحه ثبت نام </p>
      </form>
                
    </div>
     
</body>
</html>