{%extends "website/layout.html"%}
{% load static %}
{% block title %}سایت خبری{% endblock %}

{% block body%}
    <section id="headerh">
      <div class= "container">

        <div class="headfirst">
          <div class="big-image"> <!--big pic here loc:right 2/3 of the container-->
            <div class="top-left">{{promoted_article.title}}.</div>
            <a href="{% url 'related' promoted_article.id %}"><img src="{{promoted_article.image.url}}" alt="{{promoted_article.title}}"></a>
          </div>       
        </div>

        <div class="headsecond"> <!--2 small articles loc:left  1/3 of the container-->

            {% for new in new_articles %}
            <article id="headcardd">
              <img src="{{new.image.url}}" alt="{{new.title}}">
              <div>
                <h3>
                  {{new.title}}
                </h3>
                <p>{{new.post_body|safe|striptags|truncatewords:20}} </p>
              </div>
              <div id="see-more"> <a href="{% url 'related' new.id %}"> ادامه مطلب</a></div>
            </article>
            {% endfor %}
        </div>
      </div>
    </section>
      
    <section id="news_sum" class = "pd-2">

      <div class= "container">
        <div class="articles-contain">
          {% for article in articles %}
          <article class="cardd">
            <img src="{{article.image.url}}" alt="{{article.title}}">

            <div>
             <div class="top-left">{{article.date}}</div>
              <h3>
                <a href="{% url 'related' article.id %}">{{article.title}}</a>
              </h3>
              <p>{{article.post_body|safe|striptags|truncatewords:30}}</p>
              
            </div>
          </article>
            {% endfor %}
            {% include "website/pagination.html" with articles=articles  %}
<!--            <div class="pagination">-->
<!--    <span class="step-links">-->
<!--        {% if articles.has_previous %}-->
<!--            <a href="?page=1" style="margin:1rem">&laquo; صفحه1</a>-->
<!--            <a href="?page={{ articles.previous_page_number }}"style="margin:1rem">قبلی</a>-->
<!--        {% endif %}-->

<!--            صفحه {{ articles.number }} از {{ articles.paginator.num_pages }}-->

<!--        {% if articles.has_next %}-->
<!--            <a href="?page={{ articles.next_page_number }}"style="margin:1rem">بعدی</a>-->
<!--            <a href="?page={{ articles.paginator.num_pages }}"style="margin:1rem">آخرین صفحه &raquo;</a>-->
<!--        {% endif %}-->
<!--    </span>-->
<!--</div>-->


        </div>
        <div class="side">
          <div class="most-visited">
            <img src="{{best_article.image.url}}" alt="{{best_article.title}}">
            
            <div class="top">{{best_article.date}}</div>
              <h3>
                <a href="{% url 'related' best_article.id %}">{{best_article.title}}</a>
              </h3>
              <p>{{best_article.post_body|safe|striptags|truncatewords:30}}</p>
            <div>
              <div class="rectangle">
                <h4>پر بازدید ترین خبر </h4>
              </div>        
              <div class="triangle-left"></div>
            </div>
          </div>
<!--         <div class="advertise">-->
<!--           <img src="https://th.bing.com/th/id/R.00f22e4caecc287c2802bf3e683ad887?rik=06%2bQ%2bSiLZpokog&riu=http%3a%2f%2ffarshidpakzat.com%2fwp-content%2fuploads%2f2019%2f09%2fadvertising-Rotate.jpg&ehk=RxOddojyekl7qfsAa%2bQE4FrH7i57Qyv22UnF09tKuao%3d&risl=&pid=ImgRaw&r=0" alt="">-->
<!--           <div class="bottom-left"> تبلیغات</div>-->
<!--          </div>-->
        </div>
      </div>

    </section>


  {% endblock%}