<div class="pagination">
    <span class="step-links">
        {% if articles.has_previous %}
            <a href="?page=1" style="margin:1rem">&laquo; صفحه1</a>
            <a href="?page={{ articles.previous_page_number }}"style="margin:1rem">قبلی</a>
        {% endif %}

            صفحه {{ articles.number }} از {{ articles.paginator.num_pages }}

        {% if articles.has_next %}
            <a href="?page={{ articles.next_page_number }}"style="margin:1rem">بعدی</a>
            <a href="?page={{ articles.paginator.num_pages }}"style="margin:1rem">آخرین صفحه &raquo;</a>
        {% endif %}
    </span>
</div>